<div class="dashboard-container">
    <div class="container">
        <div class="total-count_row row">
            <div class="col-md-2 d-flex justify-content-between">
                <div class="total-cont-text">
                    <p>Total Spot</p>
                </div>
                <div class="total-count-int">
                    <p>50</p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 d-flex justify-content-between">
                <div class="total-cont-text">
                    <p>Available Spot</p>
                </div>
                <div class="total-count-int">
                    <p>50</p>
                </div>
            </div>
            <div class="col-md-1"></div>

            <div class="col-md-2 d-flex justify-content-between">
                <div class="total-cont-text">
                    <p>Accepted Spot</p>
                </div>
                <div class="total-count-int">
                    <p>50</p>
                </div>
            </div>
            <div class="col-md-1"></div>

            <div class="col-md-2 d-flex justify-content-between">
                <div class="total-cont-text">
                    <p>Occupied Spot</p>
                </div>
                <div class="total-count-int">
                    <p>50</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="second-header">
            <p>Parking Layout</p>
            <p>Refresh</p>
        </div>
    </div>

    <div class="dropdown-list">
        <select (change)="getSiteList($event)">
            <option value="0">Select Site</option>
            <option *ngFor="let item of siteList" [value]="item.siteId">
                {{ item.siteName }}
            </option>
        </select>


        <select (change)="getFloorByBuildingId($event)">
            <option value="0">Select Site</option>
            <option *ngFor="let item of siteBuilding" [value]="item.buildingId">
                {{ item.buildingName }}
            </option>
        </select>


        <select name="" id="" (change)="getParkingSpots($event)">
            <option value="0">Select Site</option>
            <option *ngFor="let item of BuildingFloor" [value]="item.floorId">
                {{ item.floorNo }}
            </option>
        </select>
    </div>
    <div class="container">
        <div class="third-header d-flex justify-content-between flex-wrap">
            <p class="m-0">Available</p>
            <p class="m-0">Occupied</p>
            <!-- <p class="m-0">Reserved</p>
            <p class="m-0">Maintanance</p> -->
        </div>
    </div>

    <div class="parking-lot-container">
        <div class="parking-title">Parking Lot View</div>

        <div class="parking-grid">
            <!-- Sample Parking Slots -->

            <div *ngFor="let parkingSpot of parkingSpotArray">
                <ng-container *ngIf="checkIfSpotBooked(parkingSpot) as bookInfo">
                    <div class="parking-slot occupied">
                        <div class="slot-number">{{parkingSpot}}</div>
                        <div class="slot-status">Occupied</div>
                        <div class="slot-time">{{bookInfo.vehicleNo}}</div>
                    </div>
                </ng-container>

                <ng-container *ngIf="!checkIfSpotBooked(parkingSpot) as bookInfo">
                    <div class="parking-slot available" (click)="openModal(parkingSpot)">
                        <div class="slot-number">{{parkingSpot}}</div>
                        <div class="slot-status">Available</div>
                        <div class="slot-time">--</div>
                    </div>
                </ng-container>


            </div>


            <!-- <div class="parking-slot occupied">
                <div class="slot-number">P2</div>
                <div class="slot-status">Occupied</div>
                <div class="slot-time">10:35 AM</div>
            </div>

            <div class="parking-slot maintenance">
                <div class="slot-number">P3</div>
                <div class="slot-status">Maintenance</div>
                <div class="slot-time">--</div>
            </div>

            <div class="parking-slot reserved">
                <div class="slot-number">P4</div>
                <div class="slot-status">Reserved</div>
                <div class="slot-time">--</div>
            </div> -->

            <!-- Repeat more slots as needed -->
        </div>
    </div>

</div>



<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button> -->

<!-- Modal -->
<div #bookspot class="modal modal-fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"
                    aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="bookForm" (ngSubmit)="onSubmitBooking()">
                    <div class="modal-body">
                        <label>Parking Spot No</label>
                        <input type="text" formControlName="parkSpotNo" class="form-control" />

                        <label>Vehicle Number</label>
                        <input type="text" formControlName="vehicleNo" class="form-control" />

                        <label>Amount</label>
                        <input type="text" formControlName="amount" class="form-control" />

                        <label>Customer Name</label>
                        <input type="text" formControlName="custName" class="form-control" />

                        <label>Time (In)</label>
                        <input type="datetime-local" formControlName="inTime" class="form-control" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>